<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/progName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyHealthRecord"
        tools:targetApi="34">

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.EasyHealthRecord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DbContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.StBodyWeightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.StBloodPressureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.StBloodGlucoseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".activities.SyncLoginMsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>
</manifest>